# Python virtual environments
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Generated visual outputs
*.png
*.jpg
*.jpeg

# OS files
.DS_Store
Thumbs.db
